.full-view{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #ccc;
}
.border-data{
    width: 1000px;
    height: 700px;
    background-color: #fff;
    border-radius: 10px;
}
.table-data{
    width: 95%;
    height: 600px;
    margin-left: 20px;
}
.search-add{
    gap: 550px;
    margin-bottom: 30px;
}
.search-all{
    width: 250px;
    height: 40px;
    border: 1px solid #969292;
    border-radius: 10px;
    padding: 8px;
}
.add-student{
    width: 150px;
    height: 40px;
    border-radius: 10px;
}
table{
    font-family: sans-serif;
    border-collapse: collapse;
    width: 100%;
}
td,th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
tr:nth-child(even) {
    background-color: #ebe8e8;
}
thead tr th:nth-child(1),
thead tr th:nth-child(2),
thead tr th:nth-child(4),
thead tr th:nth-child(5),
thead tr th:nth-child(6),
thead tr th:nth-child(7),
tbody tr td:nth-child(1),
tbody tr td:nth-child(2),
tbody tr td:nth-child(4),
tbody tr td:nth-child(5),
tbody tr td:nth-child(6),
tbody tr td:nth-child(7){
    text-align: center;
}